/* .product1 {
    height: 200px;
    width: 280px;

    border-top: 70px solid rgb(57, 57, 57);
    border-bottom:70px solid rgb(57, 57, 57);

}

.product2 {
    height: 200px;
    width: 280px;

    border-top: 70px solid rgb(57, 57, 57);
    border-bottom:70px solid rgb(57, 57, 57);
    

}

.product3 {
    height: 200px;
    width: 280px;

    border-top: 70px solid rgb(57, 57, 57);
    border-bottom:70px solid rgb(57, 57, 57);
    

}

.product4 {
    height: 200px;
    width: 280px;

    border-top: 70px solid rgb(57, 57, 57);
    border-bottom:70px solid rgb(57, 57, 57);
    

} */

.sneak{
    width: 280px;
    height: 400px;
}