/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic); */
  
  
  
  .head {
    background-color: #000;
    height:50px;
    top:0;
    left: 0;
    width:1550px;
    /* color: #fff; */
    position: fixed;
    /* overflow: auto; */
    /* align-content: center; */
  }
  .head h4{
    text-align: center;
    color: #fff;
  }

  .logo {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 70px;
    left:3%;
  }

  .navbar{
    overflow: auto;
    background: #fff;
    top:50px;
    left:0px;
    right: 0;
    position: fixed;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    font-size: medium;
    justify-content: space-between;
    
  }
  .navbar li{
    float:left;
    list-style: none;
    padding:5px 5px ;
    margin: 15px 15px;
  }
  .navbar li a{
    padding: 3px 5px;
    text-decoration: none;
    color: #000;
  }
  .navbar li a:hover{
    color: #DB1010;

  }
  .search{
    color: #000;
    padding: 17px 75px;
    left: 100%;
    outline: #000000;
  }

  .line {
    height: 10px;
  
  }
/*  .imgcontent {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style:inherit;
    font-size:2.5cm;
    color:#fc0404;

  }*/

/*  .extra {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-style:italic;
    font-size:1.5cm;
    color: #fff;      
  }
*/
  .navbar input{
    border: 2px #E31CA8;
    border-radius: 14px;
    padding: 3px;
    width: 250px;
  }

  .background {
    width: 90%;
    height: 660px;
    margin-top: 8%;
    padding-top:8% ;
  }

/*  .content{
    font-size:xx-large;
  }
*/
  .tag1 {
    font: bold;
    font-size:xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .btn {

    display: inline-block;
    margin-top: 30px;
    outline:  2px solid #000000;
    /* border-radius: 10px; */
    color: #000;
    font-size: 15px;
    background:rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 125px;
  }

  .btn:hover {
    background-color: #000000;
    color: #fff;
    }

  .column{
    float: left;
    width: 275px;
    padding: 50px;
  }

  .row::after{
    content: "";
    clear: both;
    display: table;

  }

  .sneak{
    width: 280px;
    height: 400px;
  }

  .sneak:hover{
    transform: scale(1.1);
    
  }

/*  .box {
    bottom: 0;
    background: #000;
    color: #fff;
  }

  .map{
    width:500px;
    height:500px;
    padding:20px;
  }
*//*
.footer{
   background: url(../images/footer-bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--light-white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--main-color);
}*/